{% extends 'base.html' %}

{% block title %} Graphs {% endblock %}

{% block content %}
<div id="buttons">
    <div style="height: 70px; width: 70px;float: left; padding: 0;">
        <a href="http://ftims.p.lodz.pl/"><img src="https://pbs.twimg.com/profile_images/601839994110550016/7LPmt_5b_400x400.png" height="70px" width="70px"></a>
    </div>
    <div id="button" onclick="changeAppMode(this, 1)" onmouseover="mouthOverButtonColor(this)" onmouseleave="mouthLeaveButtonColor(this)">
        Create vertex
    </div>
    <div id="button" onclick="changeAppMode(this, 2)" onmouseover="mouthOverButtonColor(this)" onmouseleave="mouthLeaveButtonColor(this)">
        Delete vertex
    </div>
    <div id="button" onclick="changeAppMode(this, 3)" onmouseover="mouthOverButtonColor(this)" onmouseleave="mouthLeaveButtonColor(this)">
        Create link
    </div>
    <div id="button" onclick="changeAppMode(this, 4)" onmouseover="mouthOverButtonColor(this)" onmouseleave="mouthLeaveButtonColor(this)">
        Delete link
    </div>
</div>

<div>

    <svg class="field" onclick="createGraph(event, this)">
        {% if links %}
            {% for link in links %}
                <line x1="{{link.from_position.x}}" y1="{{link.from_position.y}}" x2="{{link.to_position.x}}" y2="{{link.to_position.y}}"  style="stroke:rgb(0,0,0);stroke-width:2"/>
            {% endfor %}
        {% endif %}
        {% for graph in graphs %}
            <circle cx="{{graph.position.x}}" cy="{{graph.position.y}}" r="20" fill="rgb({{graph.color.r}}, {{graph.color.g}}, {{graph.color.b}})" graphId="{{graph.id}}" onclick="graphClick(event, {{graph.id}})"/>
        {% endfor %}
    </svg>
    {% csrf_token %}
</div>

<script>
    /**
     * AppMods:
     * 0: Do nothing
     * 1: Create graph
     * 2: Delete graph
     * 3: Create link
     * 4: Delete link
    */
    let AppMode = 0
    let promptGraph = 0
    /**
     *
     * @param graphId
     */
    let Graphs = []
    let Links = []

    function createGraph(event, element){
        if (AppMode === 1) {
            const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            let xhr = new XMLHttpRequest();
            xhr.open('POST', '/graphs/', true);
            // we defined the xhr
            xhr.setRequestHeader('Content-Type', 'application/json')
            xhr.setRequestHeader('X-CSRFToken', csrftoken)
            xhr.onreadystatechange = function () {
                if (this.readyState != 4) return;
                if (this.status == 200) {
                    let data = JSON.parse(this.responseText);
                    drawGraphs(data.graphs, data.links)
                }
            };
            let viewportOffset = element.getBoundingClientRect();
            xhr.send(JSON.stringify({
                graphs: Graphs,
                links: Links,
                newElement: {
                    graph: {
                        x: event.clientX - viewportOffset.left,
                        y: event.clientY - viewportOffset.top
                    }
                }
            }));
        }
    }

    function drawGraphs(graphs, links){
        let svg = document.body.getElementsByClassName('field')[0];

        while (svg.firstChild) {
            svg.removeChild(svg.lastChild);
        }

        for (let link of links){
            let linkElement = document.createElementNS("http://www.w3.org/2000/svg", 'line');
            linkElement.setAttribute('x1', link.from_position.x)
            linkElement.setAttribute('y1', link.from_position.y)
            linkElement.setAttribute('x2', link.to_position.x)
            linkElement.setAttribute('y2', link.to_position.y)
            linkElement.setAttribute('style', "stroke:rgb(0,0,0);stroke-width:2")
            svg.appendChild(linkElement)
        }

        for (let graph of graphs){
            let graphElement = document.createElementNS("http://www.w3.org/2000/svg", 'circle')
            graphElement.setAttribute('cx', graph.position.x)
            graphElement.setAttribute('cy', graph.position.y)
            graphElement.setAttribute('r', 20)
            graphElement.setAttribute('fill', `rgb(${graph.color.r}, ${graph.color.g}, ${graph.color.b})`)
            graphElement.setAttribute('graphId', graph.id)
            graphElement.setAttribute('visibility', "visible")
            graphElement.addEventListener('click', graphClick.bind(null, event, graph.id))
            svg.appendChild(graphElement)

        }
        Graphs = JSON.parse(JSON.stringify(graphs))
        Links = JSON.parse(JSON.stringify(links))
        promptGraph = 0
        AppMode = 0
        cleanButtons()
    }

    function graphClick(event, graphId){
        switch (AppMode){
            case 2:
                const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                let xhr = new XMLHttpRequest();
                xhr.open('DELETE', '/graphs/', true);
                // we defined the xhr
                xhr.setRequestHeader('Content-Type', 'application/json')
                xhr.setRequestHeader('X-CSRFToken', csrftoken)
                xhr.onreadystatechange = function () {
                    if (this.readyState != 4) return;
                    if (this.status == 200) {
                        let data = JSON.parse(this.responseText);
                        drawGraphs(data.graphs, data.links)
                    }
                };
                xhr.send(JSON.stringify({
                    graphs: Graphs,
                    links: Links,
                    graphId: graphId
                }));
            case 3:
                if (promptGraph === 0)
                    promptGraph = graphId
                else {
                    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                    let xhr = new XMLHttpRequest();
                    xhr.open('POST', '/graphs/', true);
                    // we defined the xhr
                    xhr.setRequestHeader('Content-Type', 'application/json')
                    xhr.setRequestHeader('X-CSRFToken', csrftoken)
                    xhr.onreadystatechange = function () {
                        if (this.readyState != 4) return;
                        if (this.status == 200) {
                            let data = JSON.parse(this.responseText);
                            drawGraphs(data.graphs, data.links)
                        }
                    };
                    xhr.send(JSON.stringify({
                        graphs: Graphs,
                        links: Links,
                        newElement:{
                            link: {
                                from_graph: promptGraph,
                                to_graph: graphId
                            }
                        }
                    }));
                }
                break;
            case 4:
                if (promptGraph === 0)
                    promptGraph = graphId
                else {
                    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                    let xhr = new XMLHttpRequest();
                    xhr.open('Delete', '/graphs/', true);
                    // we defined the xhr
                    xhr.setRequestHeader('Content-Type', 'application/json')
                    xhr.setRequestHeader('X-CSRFToken', csrftoken)
                    xhr.onreadystatechange = function () {
                        if (this.readyState != 4) return;
                        if (this.status == 200) {
                            let data = JSON.parse(this.responseText);
                            drawGraphs(data.graphs, data.links)
                        }
                    };
                    xhr.send(JSON.stringify({
                        graphs: Graphs,
                        links: Links,
                        link: [ promptGraph, graphId]
                    }));
                }
                break;
        }
    }
    function changeAppMode(element, newAppMode){
        cleanButtons()
        mouthOverButtonColor(element)
        AppMode = newAppMode;
    }

    function mouthLeaveButtonColor(element){
        if (AppMode == 0) {
            element.setAttribute('id', 'button');
        }
    }

    function mouthOverButtonColor(event){
        if (AppMode == 0) {
            event.setAttribute('id', 'over-mouse-button');
        }
    }

    function cleanButtons(){
        let buttons = document.getElementById('buttons')
        for (let button of buttons.children){
            button.setAttribute('id', 'button')
        }
    }
</script>

<style>
    body{
        margin: 0px;
    }
    #buttons{
        height: 70px;
        width: 100%;
        background-color: #252525;
    }

    #button, #over-mouse-button{
        height: 50px;
        width: 200px;
        text-align: center;
        padding-top: 20px;
        float: left;
        cursor: pointer;
        font-size: 25px;
        color: #64dfdf;
    }

    #over-mouse-button{
        background-color: #6930c3;
    }
    html, body{
        height: 100%;
    }
    .field{
        background-color: #80ffdb;
        height: 1000px;
        width: 100%;
    }
</style>
{% endblock %}